html, body {
  font-size: $defaultFontSize;
  font-family: $defaultFontFamily;
  font-stretch: inherit;
  line-height: $defaultLineHeight;
  color: $defaultFontColor;
  background-color: $defaultBgColor;
}

.required:after {
  content: '*';
}
