.break-word {
  word-wrap: break-word;
}

.mt--2 {
  margin-top: -0.5rem;
}

.mt--3 {
  margin-top: -1rem;
}

.mt--4 {
  margin-top: -1.5rem;
}

.mt--5 {
  margin-top: -3rem;
}

.mb--2 {
  margin-bottom: -0.5rem;
}

.mb--3 {
  margin-bottom: -1rem;
}

.mb--4 {
  margin-bottom: -1.5rem;
}

.mb--5 {
  margin-bottom: -3rem;
}
