server {
    listen 443 ssl http2;

    ssl_certificate      /etc/ssl/certs/ssl_selfsigned.crt;
    ssl_certificate_key  /etc/ssl/private/ssl_selfsigned.key;

    server_name {{ app_name }}.{{ domain_name }}.test;
    root /var/www/html/{{ app_name }}/public;

    rewrite ^(.*)(-)(.*)?\.(css|js)$ $1.$4 last;

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location ~ ^/index\.php(/|$) {
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        internal;
    }

    location ~ \.php$ {
        return 404;
    }

    error_log /var/log/nginx/{{ app_name }}_error.log;
    access_log /var/log/nginx/{{ app_name }}_access.log;
}
