; uncomment the next line to enable the module
extension=memcached.so
memcached.serializer=igbinary
memcached.sess_binary=on
memcached.sess_consistent_hash=on
memcached.sess_remove_failed=on
memcached.sess_number_of_replicas={{ number_of_memcached_hosts }}
memcached.sess_connect_timeout=50
