#!/usr/bin/env bash

ssh -i {{ playbook_dir }}/../../.vagrant/machines/app/virtualbox/private_key vagrant@{{ hostvars['app'].ansible_host }}  "cd /var/www/html/{{ app_name }} && node_modules/.bin/gulp $1"
