<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block metaDescription %}{% endblock %}">

    <title>{% block title %}{{ siteName }}{% endblock %}</title>

    {#<link rel="manifest" href="site.webmanifest">#}
    {#<link rel="apple-touch-icon" href="icon.png">#}

    <link rel="stylesheet" href="/build/css/main-{{ version }}.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker|Merriweather:300,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="/build/js/app-{{ version }}.js"></script>

    {% block headBlock %}{% endblock %}
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

{% include "navbar.html.twig" %}

<div>
    <div class="container-fluid">
        <h1 class="mb-4"><a href="{{ path('board_categories', {'applicantPubId': applicant.publicId}) }}"><i class="fa fa-home"></i></a> Hello {{ applicant.name }}</h1>
    </div>

    {% block bodyBlock %}{% endblock %}
</div>

{% include "footer.html.twig" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

{% block endBlock %}{% endblock %}
</body>
</html>
