{% extends "base.html.twig" %}

{% block title %}{{ siteName }}{% endblock %}

{% block bodyBlock %}
    <div class="container-fluid">
        <div class="row">
            {% for category in categories %}
                <div class="col-lg-3">
                    <a href="{{ path('board_items', {'applicantPubId': applicant.publicId, 'categoryId': category.id}) }}">
                        <div class="card">
                            <img src="{{ category.image }}" class="card-img-top"/>
                            <div class="card-body">
                                <h2 class="card-title">{{ category.name }}</h2>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
