{% extends "base.html.twig" %}

{% block title %}{{ siteName }}{% endblock %}

{% block bodyBlock %}
    <div class="container-fluid">
        <div class="row">
            {% for item in items %}
                <div class="col-lg-3">
                    <div class="card">
                        <img src="{{ item.image }}" class="card-img-top"/>
                        <div class="card-body">
                            <h2 class="card-title">{{ item.name }}</h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
