{% extends "base.html.twig" %}

{% block title %}404 Page Not Found{% endblock %}

{% block metaDescription %}404 Page Not Found{% endblock %}

{% block headBlock %}

{% endblock %}

{% block bodyBlock %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="mw-100" src="/img/404.png">
                    </div>

                    <div class="col-lg-8">
                        <h1 class="mb-4">Oops!</h1>
                        <h3 class="mb-3">Something has gone terribly wrong.</h3>
                        <h4 class="mb-3">{{ status_code }} - {{ status_text }}</h4>

                        <p>Please let us know by <a href="{{ absolute_url(path('contact_page', {'c': 'bug'})) }}">contacting us</a>.</p>

                        <h5>Here are some helpful links to find your way</h5>
                        <ul class="list-unstyled">
                            <li><a href="{{ path("home_page") }}">Home</a></li>
                            <li><a href="{{ absolute_url(path('login')) }}">{{ "nav.loginOrSignUp"|trans }}</a></li>
                            <li><a href="{{ path('contact_page') }}" rel="nofollow">{{ "nav.contact"|trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}